<!--{{}} interpolation-->
<h1>Welcome to {{hotelName}}</h1>
<!--Native html Binding angular also support-->
<div [hidden]="hideRooms">
  <p>Number of Rooms</p>
  <div [innerText]="numberOfRooms"></div>
</div>
<!--Optional chaining-->
{{rooms?.availableRooms ?? 'No Rooms'}}
<div *ngIf="rooms.availableRooms > 0">
  <table>
    <tr>
      <th>Index</th>
      <th>Even/Odd</th>
      <th>Room Number</th>
      <th>Room Type</th>
      <th>Room Price</th>
      <th>Room Amenties</th>
      <th>Checkin Time</th>
    </tr>
    <tr *ngFor="let room of  roomList let e=even; let o = odd; let i=index">
      <td>{{i}}</td>
      <td>{{e?"Even":"Odd"}}</td>
      <td>{{room.roomNumber}}</td>
      <td>{{room.roomType}}</td>
      <td>{{room.price}}</td>
      <td>{{room.amenities}}</td>
      <td>{{room.checkingTime}}</td>
    </tr>
  </table>
</div>
<!--Event Binding-->
<button (click)="toggle()">Toggle</button>
