<!--{{}} interpolation-->
<h1>Welcome to {{hotelName}}</h1>
<!--Native html Binding angular also support-->
<div [hidden]="hideRooms">
  <p>Number of Rooms</p>

    <div [ngStyle]="{'color':rooms.availableRooms?'green':'red'}" [innerText]="numberOfRooms"></div>

</div>
<!-- {{roomList|json}} -->
<!--Optional chaining-->
{{rooms?.availableRooms ?? 'No Rooms'}}
<div *ngIf="rooms.availableRooms > 0">
  <hniv-rooms-list  [rooms]="roomList" (roomSelected)="slelectRoom($event)"></hniv-rooms-list>
</div>
<!--Event Binding-->
<button  class="btn btn-primary"(click)="toggle()">Toggle</button>
